.search-coin-container {
    align-self : center;
    flex-direction : row;
    display : flex;
   justify-content: center;
   position : relative;
}
.search-container-shim {
    width : 20px;
    height : 30px;
    background-color : #1f2828;
    border-radius : 8px 0px 0px 8px;
}
.search-eye-glass {
    width : 20px;
    background-color : #1f2828;
}
.search-coin-form {
    width : 100%;
}
.search-coin-input {
    background-color : #1f2828;
    border : none;
    color : white;
    font-weight : bold;
    font-size : 1em;
    padding : 5px 10px 5px 10px;
    border-radius : 0px 8px 8px 0px;
    width : 100%;
}
.search-coin-input:focus {
    outline : none;
}
.coin-results {
    display : block;
    padding : 5px;
    width : 100%;
    position : absolute;
    z-index : 10;
    top : 30px;
    background-color : black;
    opacity : 0.9;
}
.coin-results-item {
    background-color : black;
    color : white;
    padding : 2px;
    border : none;
}
.coin-results-btn {
    color : white;
    border : none;
    background-color : black;
    font-size : 19px;
    width : 100%;
}
.coin-results-btn:hover {
    background-color : #1f2828;
    cursor: pointer;
}
.searchcoin-spinner-default {
    margin-right : 2px;
    width : 30px;
    height : 30px;
    float : left;
    opacity : 0;
}
@keyframes searchcoinActive{
    from{transform : rotate(0DEG)}
    to{transform : rotate(360DEG)}
}
.searchcoin-spinner-active {
    margin-right : 2px;
    width : 30px;
    height : 30px;
    float : left;
    opacity : 1;
    animation : searchcoinActive 1s infinite;
}
