.overview-container {
    height : auto;
    width : 100%;
    display : grid;
    grid-template-columns : 600px 600px;
    grid-gap : 1rem;
    flex-wrap : wrap;
    background-color : #1F2128;
    justify-content : center;
}

.overview-section {
    height : auto;
    //margin-left : 5%;
    //margin-right : 5%;
    //margin-top : 2%;
    background-color : black;
    //padding : 5px;
    box-shadow : 0px 0px 3px black;
}
.overview-section-coin-header {
    color : white;
    margin-left : 2%;
    display : inline;
    font-size : 1em;
}