.overview-container {
    overflow-x : hidden;
    overflow-y : hidden;
}
.overview-heading {
    margin-top : 3rem;
    padding : 30px;
    text-align : center;
}

/*@media screen and (max-width : 767px) {
    .coins-main-header {
        transform : translateY(-2rem);
    }
 }*/